<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MASTER EN CSS</title>
    

    <meta name="theme-color" content="#2091F9">

    <meta name="title" content="Aprende CSS desde cero">
    <meta name="description"
        content="Hola, soy una descripción que verás cuando busques algo de mi temática en Google.">


    <meta property="og:type" content="website">
    <meta property="og:url" content="https://alexcgdesign.github.io">
    <meta property="og:title" content="Aprende CSS desde cero">
    <meta property="og:description"
        content="Hola, soy una descripción que verás cuando busques algo de mi temática en Google.">
    <meta property="og:image" content="https://alexcgdesign.github.io/images/css.jpg">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.jordanalex.com/">
    <meta property="twitter:title" content="Aprende CSS desde cero">
    <meta property="twitter:description"
        content="Hola, soy una descripción que verás cuando busques algo de mi temática en Google.">
    <meta property="twitter:image" content="https://alexcgdesign.github.io/images/css.jpg">
</head>

<body>

    <header class="hero">
        <nav class="nav container">
            <div class="nav__logo">
                <h2 class="nav__title">Angular</h2>
                
            </div>



                <img src="./images/close.svg" class="nav__close">


            <div class="nav__menu">
                <img src="./images/menu.svg" class="nav__img">
            </div>
        </nav>

        <section class="hero__container container">
            <h1 class="hero__title">CREACIÓN DE UN PROYECTO EN ANGULAR.</h1>
            <p class="hero__paragraph">Angular es un framework de desarrollo web de código abierto creado por Google. Es ampliamente utilizado 
              para construir aplicaciones web 
              de una sola página (SPA) y aplicaciones web escalables. </p>
           
        </section>
    </header>

    <main>
        <section class="container about">
            <h2 class="subtitle">Bienvenido a mi App Angular</h2>
            <p class="about__paragraph">Dentro de la pagina encontrarás la implementacion de componentes como uno de salido, otro que hace referencia
              a un contrador y por ultimo estara uno que hara la funcion de lista que mostrará las tareas.
            </p>



            <section class="questions__container">
                <article class="questions__padding">
                    <div class="questions__answer">

                        <app-saludo class="questions__show"></app-saludo>

                    </div>
                </article>

                <article class="questions__padding">
                    <div class="questions__answer">
     

                        <app-contador  class="questions__show"></app-contador>
                    </div>
                </article>

                <article class="questions__padding">
                    <div >
                        <app-task-list  class="questions__show"></app-task-list>

                    </div>
                </article>
            </section>


        </section>
    </main>

    <footer class="footer">


        <section class="footer__copy container">
            <div class="footer__social">

            </div>

            
        </section>
    </footer>

</body>

</html>